html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav_bar,
#main_section {
  width: 100%;
}

.nav_bar,
.container,
.icons {
  margin: 0 auto;
}

.nav_bar {
  height: 70px;
  background: #4e4e4e;
}

.container,
.box {
  flex-direction: column;
}

.container {
  display: flex;
  height: 100%;
  padding: 0 12px;
  width: auto;
}

.company,
.headings {
  margin: auto 0;
}

.company,
.header1,
.header2,
.button,
.header3,
.header4,
.p1,
.text3 {
  font-weight: 700;
}

.header2,
.company,
.button,
.item2,
.item3,
.text2,
.text3 {
  font-size: 18px;
}

.company,
.header2,
.item2,
.item3 {
  line-height: 21px;
}

.company,
.button {
  text-decoration: none;
}

.company {
  display: flex;
  align-items: center;
  color: #ffffff;
  transition-duration: 0.5s;
}

.menu {
  display: none;
}

#main_section {
  height: 100vh;
  width: 100%;
  background: url(image.jpg);
}

#main_section,
.circle {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  background-color: rgb(0, 0, 0, 0.25);
  background-size: cover;
  height: 100vh;
}

.header1,
.header3 {
  font-size: 36px;
}

.header1 {
  display: flex;
  padding-right: 68px;
  margin-bottom: 50px;
  color: #ffffff;
}

.header2 {
  height: 25px;
  margin-bottom: 50px;
  color: #ffffff;
}

.button,
.container_workers,
.box {
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  width: 165px;
  height: 42px;
  color: #ffffff;
  border: 3px solid #ffffff;
  background: transparent;
  transition-duration: 1s;
}

#about {
  padding: 50px 0;
  height: fit-content;
  background-color: #f1f1f1;
}

.header3,
.header4,
.text3 {
  text-align: center;
}

.header3,
.header4 {
  height: 100px;
  margin-top: 40px;
}

.header3 {
  color: #152d41;
}

.header4 {
  color: #ffffff;
  font-size: 26px;
}

.container_workers {
  display: flex;
}

.container_workers,
.box_container {
  flex-wrap: wrap;
}

.circle {
  width: 200px;
  height: 200px;
}

.circle,
.box_dif::after {
  border-radius: 50%;
}

.circle:nth-of-type(odd) {
  background-image: url(woman.jpg);
  margin: 0;
}

.circle:nth-of-type(even) {
  background-image: url(man.jpg);
  order: 3;
  margin-top: 50px;
}

.item2,
.item3 {
  font-weight: 400;
  margin: 40px 0;
  text-align: justify;
}

.item3 {
  order: 4;
}

.p1 {
  margin-bottom: 20px;
  text-align: left;
}

#offer {
  height: fit-content;
  padding: 50px 0;
  background-color: #405d78;
}

.box_container {
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  width: 300px;
  aspect-ratio: 1;
  background-color: #f1f1f1;
  margin: 35px 50px;
}

.box_dif {
  position: relative;
}

.box_dif::after {
  content: " ";
  position: absolute;
  background-color: #e07a64;
  width: 37px;
  height: 37px;
  top: -15px;
  left: -15px;
}

.text1 {
  font-size: 24px;
}

#footer {
  height: 150px;
  background: #4e4e4e;
}

.text3 {
  color: #ffffff;
  margin: 50px 0 10px;
  text-align: center;
}

.icons {
  display: flex;
  color: #ffffff;
}

.fa-brands,
.fab {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  font-size: xx-large;
}

@media only screen and (min-width: 768px) {
  .circle:nth-of-type(odd) {
    margin: 0 25px;
  }

  .circle:nth-of-type(even) {
    margin: 25px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 960px;
    padding: 0;
  }

  .container-row {
    flex-direction: row;
    justify-content: space-between;
  }

  .company:hover {
    color: #c4c4c4;
  }

  .menu {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
  }

  .nav_li {
    text-decoration: none;
    color: #ffffff;
    margin-right: 80px;
  }

  .nav_li,
  .box {
    transition-duration: 0.5s;
  }

  .nav_li:hover {
    color: #c4c4c4;
  }

  .disabled_items {
    cursor: not-allowed;
    color: #ffffff;
    text-decoration: none;
  }

  .header1 {
    width: 50%;
    margin-bottom: 70px;
  }

  .button {
    width: 180px;
    height: 45px;
  }

  .button:hover {
    background-color: #ffffff;
    color: black;
  }

  #about {
    padding: 100px 0;
  }

  .header3,
  .header4 {
    text-align: left;
  }

  .header3 {
    margin-bottom: 70px;
  }

  .header4 {
    margin-bottom: 40px;
  }

  .container_workers:nth-of-type(odd) {
    justify-content: left;
    margin: 0;
  }

  .container_workers:nth-of-type(even) {
    justify-content: right;
  }

  .circle:nth-of-type(even) {
    margin: 150px 0 0 35px;
    order: 4;
  }

  circle:nth-of-type(odd) {
    margin-right: 35px;
  }

  .p1r,
  .item3 {
    text-align: right;
  }

  .item2,
  .item3 {
    width: 70%;
  }

  .item2 {
    margin-top: 0;
  }

  .item3 {
    margin-top: 140px;
  }

  #offer {
    padding: 30px 0;
  }

  .box {
    width: 200px;
    height: 200px;
    margin: 0 50px 50px 0;
    box-shadow: 0px 4px 3px 0px #2d4358;
  }

  .box_dif::after {
    width: 30px;
    height: 30px;
  }

  .box_dif:hover,
  .box:hover {
    transform: scale(1.05);
  }

  #footer {
    height: 70px;
  }

  .text3,
  .icons {
    margin: auto 0;
  }
}
