html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav_bar {
  position: fixed;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  background: #4e4e4e;
  z-index: 999;
}

.container {
  display: flex;
  height: 100%;
  width: 960px;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.firma {
  display: flex;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  transition-duration: 0.5s;
}

.firma:hover {
  color: #c4c4c4;
}

.menu {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.nav_ul {
  display: flex;
}

.nav_li {
  text-decoration: none;
  color: #ffffff;
  margin-right: 80px;
  transition-duration: 0.5s;
}

.nav_li:hover {
  color: #c4c4c4;
}

.disabled_items {
  cursor: not-allowed;
}

#main_section {
  height: 100vh;
  width: 100%;
  background: url(image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  padding: 260px 0;
  background-color: rgb(0, 0, 0, 0.25);
}

.header1 {
  width: 50%;
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
}

.header2 {
  height: 25px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  border: 3px solid #ffffff;
  background: transparent;
  transition-duration: 1s;
}

.button:hover {
  background-color: #ffffff;
  color: black;
}

#o_nas {
  padding: 50px 0;
  height: fit-content;
  background-color: #f1f1f1;
}

.header3,
.header4 {
  height: 100px;
  margin-top: 70px;
  font-weight: 700;
  font-size: 36px;
}

.header3 {
  color: #152d41;
}

.header4 {
  color: #ffffff;
  margin-bottom: 40px;
}

.container_specjalisci {
  display: flex;
  flex-wrap: wrap;
}

.container_specjalisci:nth-of-type(odd) {
  justify-content: left;
}

.container_specjalisci:nth-of-type(even) {
  justify-content: right;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 78px 0;
}

.circle:nth-of-type(odd) {
  background-image: url(woman.jpg);
  margin-right: 35px;
}

.circle:nth-of-type(even) {
  background-image: url(man.jpg);
  margin-left: 35px;
}

.item2,
.item3 {
  width: 70%;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 100px;
}

.p1 {
  font-weight: 700;
  margin-bottom: 20px;
}

.item3 {
  text-align: right;
}

#oferta {
  height: fit-content;
  padding: 50px 0;
  background-color: #405d78;
}

.box_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
  margin: 0 50px 50px 0;
  transition-duration: 0.5s;
  box-shadow: 0px 4px 3px 0px #2d4358;
}

.box_dif {
  position: relative;
}

.box_dif::after {
  content: " ";
  position: absolute;
  background-color: #e07a64;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: -15px;
  left: -15px;
}

.box_dif:hover,
.box:hover {
  transform: scale(1.05);
}

.text1 {
  font-size: 24px;
}

.text2 {
  font-size: 18px;
}

#footer {
  height: 70px;
  background: #4e4e4e;
}

.container-row {
  flex-direction: row;
}

.text3 {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  margin: auto 0;
}

.icons {
  display: flex;
  color: #ffffff;
  margin: auto 0;
}

.fa-brands,
.fab {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  font-size: xx-large;
}
